@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #456cce;
}

#top {
  text-align: center;
  margin: 0 auto;
}

#reload {
  text-align: center;
  margin: 10px auto;
}

#top h1 {
  font-size: 2em;
}

#content {
  margin-top: 70px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  text-align: center;
}

#content h3 {
  font-size: 1.5em;
}

h1 {
  font-family: "Roboto";
  font-weight: 700;
  color: #ff8013;
}

h2, h3 {
  font-family: "Roboto";
  font-weight: 400;
  color: #fff;
}

h4, h5, h6, p{
  font-family: "Roboto";
  font-weight: 300;
  color: #fff;
}